@model IEnumerable<Luw.Models.ApplicationUser>
<link href="~/lib/DataTables-1.10.12/css/dataTables.bootstrap.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Members List";
}

<h2>Members</h2>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> New</a>
</p>
<hr />
<table id="memberTable" class="table table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenExpires)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.FirstName)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.LastName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <a href="mailto:@item.Email">@Html.DisplayFor(modelItem => item.Email)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (item.Status == "Guest")
                {
                    <td></td>
                }
                else
                {
                    <td>
                        @if (item.WhenExpires < DateTime.Now)
                        {
                            @Html.DisplayFor(modelItem => item.WhenExpires)
                        }
                        else if (item.WhenExpires >= DateTime.Now && item.WhenExpires <= DateTime.Now.AddMonths(1))
                        {
                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.WhenExpires)</span>
                        }
                        else if (item.WhenExpires >= DateTime.Now)
                        {
                            @Html.DisplayFor(modelItem => item.WhenExpires)
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/DataTables-1.10.12/datatables.js"></script>
    <script src="~/lib/DataTables-1.10.12/js/jquery.dataTables.js"></script>
    <script src="~/lib/DataTables-1.10.12/js/dataTables.bootstrap.js"></script>
    
    <script>
        $(document).ready(function(){
            $('#memberTable').DataTable();
        });
    </script>
}