@model IEnumerable<Luw.Models.ChapterViewModels.IndexViewModel>
@*<link href="~/lib/DataTables-1.10.12/datatables.css" rel="stylesheet" />*@
<link href="~/lib/DataTables-1.10.12/css/dataTables.bootstrap.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Chapter List";
}

<h2>Chapters</h2>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> New</a>    
</p>
<hr />
<table id="chapterTable" class="table table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingInfo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(Model => item.Name)</a>
                @*@Html.DisplayFor(modelItem => item.Name)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingInfo)
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
<script src="~/lib/DataTables-1.10.12/datatables.js"></script>
<script src="~/lib/DataTables-1.10.12/js/jquery.dataTables.js"></script>
<script src="~/lib/DataTables-1.10.12/js/dataTables.bootstrap.js"></script>



<script>
    $(document).ready(function(){
        $('#chapterTable').DataTable();
    });
</script>
    }